doctype doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Bootstrap tuto
        link(rel="stylesheet", href="css/Bootstrap.min.css")
        link(rel="stylesheet", href="sass/style.css")
    body
        script(scr="js/bootstrap.min.js")
        script(src="index.js")